.ipynb_checkpoints/
Data/
work/csv_files
work/features
.DS_Store
venv/
work/features/
work/csv_files/
work/all_data.csv
work/importance_list.csv
__pycache__/
work/datasources/cicids/
work/datasources/wine/
work/wandb